*.ipynb_checkpoints
I:/Data Science/Springboard/Statistics/Statistics1-human_temp/.ipynb_checkpoints
I:/Data Science/Springboard/Statistics/Statistics2-racial_disc/.ipynb_checkpoints
I:/Data Science/Springboard/Statistics/Statistics3-hospital_readmit/.ipynb_checkpoints
*.DS_Store